<div class="pt-5 px-md-5 mx-md-5">

<h6 class="lead"><small>May 25, 2021</small></h6>
<h3>Join the event</h3>

<form class="mt-4" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="row mb-2">
      <div class="form-group col-md-6">
        <label for="first-name" class="text-muted">First Name</label>
        <input type="text"
         class="form-control p-2 mt-1"
         [ngClass]="{ 'border border-danger is-invalid' : (registrationForm.controls.firstName.touched || registrationForm.controls.firstName.dirty)  && registrationForm.controls.firstName.invalid }"
         id="first-name"
         formControlName="firstName"
         placeholder="Enter your first name">
        <div *ngIf="(registrationForm.controls.firstName.touched || registrationForm.controls.firstName.dirty) && registrationForm.controls.firstName.invalid" class="text-danger"><small>This Field is Required.</small></div>       
      </div>
      <div class="form-group col-md-6">
        <label for="last-name" class="text-muted">Last Name</label>
        <input type="text" class="form-control p-2 mt-1" id="last-name" formControlName="lastName" placeholder="Enter your last name">
      </div>
    </div>
    <div class="row mb-2">
        <div class="form-group col-md-6">
          <label for="email" class="text-muted">Business Email</label>
          <input type="text"
           class="form-control p-2 mt-1"
           id="email"
           [ngClass]="{ 'border border-danger is-invalid' : (registrationForm.controls.email.touched || registrationForm.controls.email.dirty) &&  (registrationForm.controls.email.invalid || !registrationForm.controls.email.value )}"
           formControlName="email"
           placeholder="Enter your email">
           <div *ngIf="(registrationForm.controls.email.touched || registrationForm.controls.email.dirty) && !registrationForm.controls.email.value" class="text-danger"><small>This Field is Required.</small></div> 
          <div *ngIf="(registrationForm.controls.email.touched || registrationForm.controls.email.dirty) && registrationForm.controls.email.invalid" class="text-danger"><small>The email is invalid.</small></div> 

        </div>
        <div class="form-group col-md-6">
          <label for="jobTitle" class="text-muted">Title</label>
          <input type="text" class="form-control p-2 mt-1" id="jobTitle" formControlName="jobTitle" placeholder="What is your job title?">
        </div>
      </div>
    
      <div class="row mb-2">
        <div class="form-group col-md-6">
          <label for="companyName" class="text-muted">Company Name</label>
          <input type="text" class="form-control p-2 mt-1" id="companyName" formControlName="companyName" placeholder="Where do you work?">
        </div>
        <div class="form-group col-md-6">
          <label for="companySize" class="text-muted">Company Size</label>
          <select id="companySize" formControlName="companySize" class="form-select p-2 mt-1">
            <option selected disabled value="">Select</option>
            <option>small</option>
            <option>medium</option>
            <option>large</option>
          </select>
        </div>
      </div>

    <div class="form-group mb-2">
      <label for="Message" class="text-muted mb-1">What are you hoping to learn about?</label>
      <textarea class="form-control mt-1" id="Message" formControlName="message" rows="3" cols="30" placeholder="Message"></textarea>
    </div>
    <div class="form-group mb-2">
      <div class="form-check">
        <input class="form-check-input mt-1" type="checkbox" id="futureEmails" formControlName="futureEmails">
        <label class="form-check-label" for="futureEmails" class="text-muted">
          I would like to receive emails about future webinars
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-light mt-4 mb-sm-5 ">Register for this event</button>
</form>
</div>